#header {
  background-color: darkgreen;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  align-items: center;
  display: flex;
}

#header a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
}

.choices-container {
  display: flex;
  margin: 50px 100px;
  justify-content: space-between;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.draggable {
  display: block;
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: lightblue;
  align-items: center;
  display: flex;
  justify-content: center;
}

.draggable:hover {
  cursor: grab;
}

.droppable-container {
  background-color: darkgreen;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: darkgray;
}

.remove {
  display: none;
}

.match {
  display: none;
}

.showMatch {
  display: flex;
  margin: 0px auto 10px auto;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  width: 150px;
  height: 50px;
  border: 1px solid darkgreen;
  align-items: center;
  justify-content: center;
}

.showMatch:hover {
  cursor: pointer;
}

.fund-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  z-index: -1;
}

#fund-graph {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

#fund-info {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: -1;
}

.info-title {
  font-size: 30px;
  font-weight: 700;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.budget-container {
  display: flex;
}

#compound-interest-graph {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
}

.fund-graph-info {
  height: calc(100vh - 60px)
}

.hovering {
  border-style: dashed;
  background-color: lightgray;
}